.back-button {
	position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  width: 3.6rem;
  height: 3.6rem;
  border: 0.3rem solid var(--color-text-dark);
  border-radius: 100%;
  background-color: var(--color-background-light);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active,
  &:focus {
    filter: contrast(150%);
    outline: 0.25rem solid var(--color-text-light);
  }

  img {
		transform: rotate(180deg);
	}
}
