.back-button {
	position: absolute;
  left: 0.4rem;
  top: 0.4rem;
  border: 0.3rem solid var(--color-text-dark);
  padding: 0.4rem;
  border-radius: 0.8rem;
  background-color: var(--color-background-light);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  @media (min-width: 720px) {
    padding: 0.6rem;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0.25rem solid var(--color-text-light);
  }

  img {
		transform: rotate(180deg);
	}
}
