.filters {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  border-top: 0.15rem solid var(--color-text-dark);
  border-bottom: 0.15rem solid var(--color-text-dark);
  background-color: var(--color-background-light);
  z-index: 1;

  &__selected {
    padding: 1.2rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background-color: var(--color-background-light);
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    
    @media (min-width: 720px) {
      padding: 1.2rem var(--desktop-horizontal-content-padding);
    }

    &:hover,
    &:active,
    &:focus {
      filter: brightness(95%);

      .category {
        border-color: var(--color-text-dark);
        filter: brightness(120%);
      }
    }

    * + * {
      margin-left: 0.6rem;
    }
  }

  &__arrow {
    transition: transform 0.15s;
    margin-right: 0.6rem;
  }

  #are-filters-visible:checked ~ &__selected &__arrow {
    transform: rotate(90deg);
  } 

  &__group {
    display: flex;
    align-items: center;
    height: 0;
    overflow: hidden;

    span {
      margin-right: 0.6rem;
    }
  }

  #are-filters-visible:checked ~ &__group,
  &__group:focus-within {
    height: initial;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.25);
    padding: 1.2rem 1.6rem;

    @media (min-width: 720px) {
      padding: 1.2rem var(--desktop-horizontal-content-padding);
    }
  }

  #are-filters-visible:checked ~ &__group--no-filter,
  &__group--no-filter:focus-within {
    padding: 0.5rem 1.6rem;

    @media (min-width: 720px) {
      padding: 0.5rem var(--desktop-horizontal-content-padding);
    }
  }
}
