.language-selector {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  border: 0.3rem solid var(--color-text-dark);
  border-radius: 0.8rem;
  padding: 0.3rem;
  background-color: var(--color-background-light);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media (min-width: 720px) {
    padding: 0.4rem;
  }

  &:hover,
  &:active,
  &:focus-within {
    padding: 0.8rem;
    outline: 0.25rem solid var(--color-text-light);

    .language-selector__title,
    li {
      position: initial;
      opacity: 1;

      span {
        text-decoration: underline;
      }
    }

    ul {
      padding: 0.3rem 0 0 0.8rem;
    }
  }

  &__title,
  li {
    position: absolute;
    opacity: 0;
  }

  li {
    border: 0.25rem solid transparent;
    border-radius: 0.6rem;

    &:not(.selected):hover,
    &:not(.selected):active,
    &:not(.selected):focus-within {
      text-decoration: none;
      outline: solid 0.3rem var(--color-text-dark);
    }

    &.selected {
      list-style: none;
      position: initial;
      opacity: 1;
    }

    a {
      outline: none;
      text-decoration: none;
    }
  }
}
