.project-content {
  border-top: 0.1rem solid var(--color-background-dark);
  padding: 1.6rem;

  @media (min-width: 720px) {
    padding: 1.6rem var(--desktop-horizontal-content-padding);
  }

  &__title {
    margin-bottom: 0.8rem;
    border-bottom: 0.1rem solid var(--color-background-dark);

    & + * {
      padding: 1.6rem 2.4rem;
    }
  }

  &__links {
    padding-left: 3.2rem;
    font-size: 1.8rem;

    li {
      margin-bottom: 1.6rem;
    }

    a {
      border: 0.25rem solid transparent;
      border-radius: 0.6rem;

      &:hover,
      &:active,
      &:focus {
        outline: solid 0.3rem var(--color-text-dark);
        text-decoration: none;
      }
    }
  }

  &__images,
  &__videos {
    width: 100%;
    padding: 1.6rem 0.8rem;
    column-count: 1;
    column-gap: 1rem;
    line-height: 0;

    &[data-children-count="1"] {
      column-count: 1;
    }

    &[data-children-count="2"] {
      column-count: 2;
    }

    @media (min-width: 350px) {
      column-count: 2;
    }

    @media (min-width: 800px) {
      column-count: 3;
    }

    li {
      margin-bottom: 1rem;
      list-style: none;

      > * {
        width: 100%;
        height: auto;
        border-radius: 0.8rem;
        border: 0.3rem solid rgba(0, 0, 0, 0.1);

        &:not(.no-interaction):hover,
        &:not(.no-interaction):active {
          border-color: var(--color-text-dark)
        }
      }
    }
  }

  &__images:fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      display: contents;

      img {
        display: none;
  
        &.fullscreen {
          display: initial;
          width: auto;
          height: 80vh;
          border-color: var(--color-text-light);
          cursor: pointer;
        }
      }
    }

    #close {
      display: initial;
      position: absolute;
      width: 4rem;
      height: 4rem;
      top: 0.8rem;
      right: 0.8rem;
      border-radius: 0.8rem;
      font-size: 2.4rem;
      font-family: cursive;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  
    #previous,
    #next {
      position: absolute;
      width: 3.6rem;
      height: 3.6rem;
      top: calc(50% - 1.8rem);
      border: 0.3rem solid var(--color-text-dark);
      border-radius: 0.8rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    #previous {
      left: 2.4rem;
      transform: rotate(180deg);
    }

    #next {
      right: 2.4rem;
    }
  }
}
