<!DOCTYPE HTML>
<html lang='{{ lang }}'>

{% include components/head %}

<body>
  <main>
    {% include components/area-title %}

    {% include components/filters %}

    <div class='projects-area'>
      {% for project in portfolio.projects %}
        {% include components/project-preview %}
      {% endfor %}
    </div>
  </main>

  {% include components/footer %}
</body>

</html>
