<!DOCTYPE HTML>
<html lang='{{ lang }}'>

{% include components/head %}

<body>
  <main class='not-found'>
    <h1 class='not-found__title'>{{ title }}</h1>

    <a href='{{ '/' | relative: lang }}' class='not-found__link'>{{ link }}</a>
  </main>

  {% include components/footer %}
</body>

</html>
