<!DOCTYPE HTML>
<html lang='{{ lang }}'>

{% include components/head, title: project.name %}

<body>
  <main class='page-project'>
    {% include components/back-button %}

    {% include components/area-title-project %}

    {% include components/project-content %}
  </main>

  {% include components/footer %}
</body>

<script>
  document.querySelectorAll('.project-content__images li')
    .forEach(function (li) {
      li.children[0].classList.remove('no-interaction')

      li.addEventListener('click', function() {
        li.requestFullscreen({ navigationUI: 'show' })
      })
    })
</script>

</html>
