<!DOCTYPE HTML>
<html lang='{{ lang }}'>

{% include components/head, title: filter.name %}

<body>
  <main>
    {% include components/language-selector, selected: lang %}

    {% include components/area-title-default, title: filter.name %}

    {% if portfolio.filters %}
      {% if portfolio.categories.length > 0 or portfolio.tags.length > 0 %}
        {% include components/filters, type: filter-type, filter: filter %}
      {% endif %}
    {% endif %}

    <div class='projects-area'>
      {% for project in projects %}
        {% include components/project-preview %}
      {% endfor %}
    </div>
  </main>

  {% include components/footer %}
</body>

</html>
