<div class='area-filters'>
    <input type='checkbox' name='are-filters-visible' id='are-filters-visible'>

    <label for='are-filters-visible' class='are-filters-visible'>
        <img class='arrow' src='{{ portfolio.root }}/assets/arrowRight.webp' alt='Seta para a direita'>
        <p class='text'>Filter</p>

        {% if filterTag.name != null %}
            :<p class='tag' style='background-color: {{ filterTag.color }} '>{{ filterTag.name }}</p>
        {% endif %}

        {% if filterCategory.name != null %}
            :<p class='category' style='background-color: {{ filterCategory.color }} '>{{ filterCategory.name }}</p>
        {% endif %}
    </label>
    
    <div class='filter-group'>
        <a href='{{ portfolio.root }}/' style='background-color: grey' class='tag'>No filter</a>
    </div>

    <div class='filter-group'>
        <span>categories: </span>
        {% for category in portfolio.categories %}
            <a href='{{ portfolio.root }}/categories/{{ category.name }}/' style='background-color: {{ category.color }}' class='category'>{{ category.name }}</a>
        {% endfor %}
    </div>

    <div class='filter-group'>
        <span>tags: </span>
        {% for tag in portfolio.tags %}
            <a href='{{ portfolio.root }}/tags/{{ tag.name }}/' style='background-color: {{ tag.color }}' class='tag'>{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>