{% if portfolio.showFooter %}
  <footer class='footer'>
    <p>Portfolio made with <a href='https://github.com/jonathan-santos/portfolio-generator' rel='noopener' target='_blank'
        aria-label='Portfolio Generator in Github, opens an external link in a new window'>Portfolio generator</a> by <a
        href='https://github.com/jonathan-santos' rel='noopener' target='_blank'
        aria-label='Jonathan Santos Website, opens an external link in a new window'>Jonathan Santos</a></p>

    <p>Built with with html, css, <a href='https://www.11ty.dev/' rel='noopener' target='_blank'
        aria-label='Eleventy, opens an external link in a new window'>Eleventy</a> and <img
        src='{{ 'heart.svg' | img }}' alt='heart' width='16' height='16'></p>

    <a href='#' class='footer__back-to-top'>Back to top</a>
  </footer>
{% endif %}
