<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel='stylesheet' href='{{ portfolio.root }}/styles.css'>
<style>
    html {
        --primary-color: {{ portfolio.colors.primary }};
        --text-light-color: {{ portfolio.colors.textLight }};
        --text-dark-color: {{ portfolio.colors.textDark }};
        --background-light-color: {{ portfolio.colors.backgroundLight }};
        --background-dark-color: {{ portfolio.colors.backgroundDark }};
    }
</style>