<a href='{{ "/projects/" | relativeLink }}{{ project.name | slug }}/' class='project'>
    <img class='image' src='{{ project.icon | assetLink }}' alt='Project image'>

    <figcaption class='details'>
        <div class='top'>
            <h3 class='name'>{{ project.name }}</h3>
        </div>

        <div class='middle'>
            <p class='description'>{{ project.description }}</p>
        </div>

        <div class='bottom'>
            {% include categoryAndTags.html %}
        </div>
    </figcaption>
</a>