<div class='area-tags'>
    <input type='checkbox' name='tags-visible' id='are-tags-visible'>

    <label for='are-tags-visible' class='are-tags-visible'>
        <img class='arrow' src='/assets/arrowRight.webp' alt='Seta para a direita'>
        <p class='text'>Filter by tag</p>
    </label>
    
    <div class='tags'>
        <a href='/' style='background-color: grey' class='tag'>No filter</a>
        
        {% for tag in portfolio.tags %}
            <a href='/tags/{{ tag.name }}/' style='background-color: {{ tag.color }}' class='tag'>{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>