.area-title {
  color: var(--color-text-dark);
  text-align: center;

  &__title {
    position: relative;
    padding: 4.8rem 0;
    color: var(--color-text-light);
    font-size: 2.4rem;
    background-color: var(--color-background-dark);

    @media (min-width: 720px) {
      font-size: 3.2rem;
    }
  }

  &__subtitle {
    display: block;
    margin-top: 0.8rem;
  }

  &__description {
    padding: 2.4rem 4.8rem;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    font-size: 1.6rem;
    font-weight: bold;

    @media (max-width: 320px) {
      font-size: 1.6rem;
    }

    @at-root .area-title--project & {
      padding: 2.4rem 3.2rem;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 720px) {
        min-height: 12.8rem;
      }
    }
  }

  &__icon {
    flex: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: 720px) {
      max-width: 25%;
    }
  }

  &__category-and-tags {
    background-color: var(--color-background-dark);
    padding: 0.6rem 0.6rem 0.2rem 0.6rem;
  }

  &__horizontal-container {
    border-top: 0.1rem solid var(--color-background-light);
    display: flex;
  }

  &__details {
    flex: 1;
    min-width: 60%;
    border-left: 0.1rem solid var(--color-background-dark);
    display: flex;
    flex-direction: column;

    & > *:first-child:nth-last-child(1) {
      flex: 1;
    }
  }
}
