.filters {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  border-top: 0.15rem solid var(--color-text-dark);
  border-bottom: 0.15rem solid var(--color-text-dark);
  background-color: var(--color-background-light);
  z-index: 1;

  > * {
    padding: 1.2rem 1.6rem;
  }

  @media (min-width: 720px) {
    > * {
      padding: 1.2rem var(--desktop-horizontal-content-padding);
    }
  }

  #are-filters-visible:checked {
    ~ .filters__selected {
      .filters__arrow {
        transform: rotate(90deg);
      }
    }

    ~ .filters__group {
      display: flex;
    }
  } 

  &__selected {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background-color: var(--color-background-light);
    user-select: none;

    &:hover,
    &:active,
    &:focus {
      filter: brightness(90%);

      .category {
        border-color: var(--color-text-dark);
        filter: brightness(200%) contrast(150%);
      }
    }

    * + * {
      margin-left: 0.6rem;
    }
  }

  &__arrow {
    transition: transform 0.15s;
    margin-right: 0.6rem;
  }

  &__group {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    align-items: center;

    span {
      margin-right: 0.6rem;
    }
  }
}
