.footer {
  width: 100%;
  min-height: 10rem;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--background-dark-color);
  color: var(--text-light-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  *:not(:last-child) {
    margin: 0 0 0.8rem 0;
  }

  &__back-to-top {
    border: 2px solid var(--text-light-color);
    padding: 0.5rem;
    border-radius: 50px;
    text-decoration: none;
  }
}
