.project-content {
  border-top: 0.1rem solid var(--color-background-dark);
  padding: 1.6rem;

  &__title {
    margin: 0;
    border-bottom: 0.1rem solid var(--color-background-dark);

    & + * {
      padding: 1.6rem 2.4rem;
    }
  }

  &__links {
    padding-left: 3.2rem;

    li {
      margin-bottom: 1.6rem;
    }

    a {
      border: 0.25rem solid transparent;
      border-radius: 0.6rem;

      &:hover,
      &:active,
      &:focus {
        outline: solid 0.3rem var(--color-text-dark);
        text-decoration: none;
      }
    }
  }

  &__videos {
    video {
      max-width: 100%;
      margin-top: 1.6rem;
      border-radius: 0.6rem;

      &:hover,
      &:active,
      &:focus {
        outline: solid 0.4rem var(--color-text-dark);
      }
    }
  }

  &__images {
    height: 30rem;
    display: flex;
    align-items: center;
    overflow: auto;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 0.8rem;
      object-fit: contain;
      flex-grow: 1;
      vertical-align: bottom;
    }
  }  
}
