.projects-area {
  padding: 1.6rem 0.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  justify-items: stretch;
  gap: 1.6rem;

  @media (min-width: 720px) {
    padding: 1.6rem var(--desktop-horizontal-content-padding);
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  }

  @media (min-width: 500px) {
    & > *:first-child:nth-last-child(1) {
      width: 50%;
      margin: 0 auto;
    }
  }
}
