.area-filters {
  border-bottom: 1px solid var(--text-dark-color);
  padding: 0.8rem 0.5rem;

  #are-filters-visible {
    display: none;

    &:checked ~ .are-filters-visible {
      margin-bottom: 0.5rem;
    }

    &:checked ~ .are-filters-visible .arrow {
      transform: rotate(90deg);
    }

    &:checked ~ .filter-group {
      padding: 0.75rem 0 0.7rem 0;
      border-top: 1px solid rgba(0, 0, 0, 0.25);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .are-filters-visible {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    .text {
      margin: 0;
      display: inline;
    }

    .arrow {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    .tag,
    .category {
      margin-left: 0.5rem;
      margin-bottom: 0;
      cursor: initial;
    }
  }

  .filter-group {
    display: none;

    * {
      margin-bottom: 0.15rem;
      margin-right: 0.5rem;
      font-size: 0.9rem;
    }
  }
}
