.category {
	border: 1px solid rgba(255,255,255,0.35);
	border-radius: 2px;
	padding: 0.35rem;
	background-color: var(--primary-color);
	color: var(--text-light-color);
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

  @at-root .project-preview & {
    border-width: 1px 1px 0 0;
  }
}
