.tag {
	border: 1px solid rgba(255,255,255,0.35);
	border-radius: 10px;
	padding: 0.25rem;
	background-color: var(--color-primary);
	color: var(--color-text-light);
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
