.tag {
	border: 0.1rem solid rgba(255,255,255,0.35);
	border-radius: 1.4rem;
	padding: 0.6rem 0.8rem;
	background-color: var(--color-primary);
	color: var(--color-text-light);
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
