:root {
  font-size: 60%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  position: relative;
}

body {
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  font-size: 1.6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

main {
  min-height: 100%;
  padding-bottom: 16rem;
  overflow: hidden;
}

.filters {
  border-bottom: 0.1rem solid var(--color-text-dark);
  padding: 1.2rem 0.8rem;
}
.filters #are-filters-visible:checked ~ .filters__selected {
  margin-bottom: 0.8rem;
}
.filters #are-filters-visible:checked ~ .filters__selected .filters__arrow {
  transform: rotate(90deg);
}
.filters #are-filters-visible:checked ~ .filters__group {
  display: flex;
}
.filters__selected {
  padding-left: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.filters__arrow {
  transition: transform 0.15s;
}
.filters__group {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.25);
  padding: 1.2rem 0;
  flex-wrap: wrap;
  align-items: center;
}
.filters__group:last-of-type {
  padding-bottom: 0;
}
.filters__selected * + *, .filters__group * + * {
  margin-left: 1rem;
}

.projects-area {
  --columns: 1;
  padding: 1.6rem 0.8rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-items: stretch;
  gap: 1.6rem;
}
@media (min-width: 400px) {
  .projects-area {
    --columns: 2;
  }
}
@media (min-width: 720px) {
  .projects-area {
    --columns: 3;
  }
}
@media (min-width: 1000px) {
  .projects-area {
    --columns: 4;
  }
}

.area-title {
  max-height: 28rem;
  border-bottom: 0.1rem solid var(--color-text-dark);
  color: var(--color-text-dark);
  text-align: center;
  overflow: hidden;
}
.area-title--project {
  border: 0;
  padding-top: 0;
  display: flex;
  position: relative;
}
.area-title__title {
  position: relative;
  margin: 0;
  padding: 2rem 0;
  color: var(--color-text-light);
  font-size: 3.2rem;
  line-height: 4.8rem;
}
.area-title__title img {
  z-index: -1;
  filter: brightness(0.5);
  height: 123%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}
.area-title--project .area-title__title {
  padding: 1.6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3.2rem;
  line-height: 2.8rem;
  color: var(--color-text-dark);
}

.area-title__description {
  margin: 0;
  padding: 2.4rem;
  overflow: hidden;
  background-color: var(--color-primary);
  color: var(--color-background-light);
  font-size: 1.8rem;
  font-weight: bold;
}
@media (max-width: 320px) {
  .area-title__description {
    font-size: 1.6rem;
  }
}
.area-title--project .area-title__description {
  flex: 1;
  display: flex;
  align-items: center;
}

.area-title__icon {
  max-width: 45%;
  border-right: 0.2rem solid var(--color-primary);
  flex: 1;
  overflow: hidden;
}
.area-title__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1000px) {
  .area-title__icon {
    max-width: 25%;
  }
}
.area-title__category-and-tags {
  position: absolute;
  left: 0.8rem;
  bottom: 0.8rem;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
.area-title__details {
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.footer {
  width: 100%;
  min-height: 16rem;
  position: absolute;
  bottom: 0;
  padding: 1.6rem;
  overflow: hidden;
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer *:not(:last-child) {
  margin: 0 0 1.2rem 0;
}
.footer__back-to-top {
  border: 0.2rem solid var(--color-text-light);
  padding: 0.8rem;
  border-radius: 5rem;
  text-decoration: none;
}

.project-content {
  border-top: 0.1rem solid var(--color-background-dark);
  padding: 1.6rem;
}
.project-content__title {
  margin: 0;
  border-bottom: 0.1rem solid var(--color-background-dark);
}
.project-content__title + * {
  padding: 1.6rem 2.4rem;
}
.project-content__links {
  padding-left: 3.2rem;
}
.project-content__links li {
  margin-bottom: 1.2rem;
}
.project-content__videos video {
  max-width: 100%;
  margin-top: 1.6rem;
}
.project-content__images {
  height: 30rem;
  display: flex;
  align-items: center;
  overflow: auto;
}
.project-content__images img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 0.8rem;
  object-fit: contain;
  flex-grow: 1;
  vertical-align: bottom;
}

.tag {
  border: 0.1rem solid rgba(255, 255, 255, 0.35);
  border-radius: 1.4rem;
  padding: 0.6rem 0.8rem;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.category {
  border: 0.1rem solid rgba(255, 255, 255, 0.35);
  border-radius: 0.4rem;
  padding: 0.6rem;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.project-preview .category {
  border-width: 0.1rem 0.1rem 0 0;
}

.back-button {
  position: fixed;
  left: 0.8rem;
  top: 0.8rem;
  width: 3.6rem;
  height: 3.6rem;
  border: 0.3rem solid var(--color-text-dark);
  border-radius: 100%;
  background-color: var(--color-background-light);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-button img {
  transform: rotate(180deg);
}

.project-preview {
  position: relative;
  border: 0.3rem solid var(--color-background-dark);
  border-radius: 1rem;
  overflow: hidden;
  background-color: #000;
  text-align: center;
}
.project-preview:hover, .project-preview:active, .project-preview:focus {
  border-color: var(--color-primary);
}
.project-preview:hover .project-preview__middle, .project-preview:active .project-preview__middle, .project-preview:focus .project-preview__middle {
  flex: 1;
  opacity: 1;
}
.project-preview:hover .project-preview__bottom, .project-preview:active .project-preview__bottom, .project-preview:focus .project-preview__bottom {
  background-color: rgba(0, 0, 0, 0.75);
}
.project-preview__icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-preview__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text-light);
}
.project-preview__top {
  max-height: 8rem;
  padding: 0.24rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
}
.project-preview__middle {
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.project-preview__bottom {
  padding-top: 0.4rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.15);
}
.project-preview__bottom > * + * {
  margin-left: 0.6rem;
}
.project-preview__name {
  margin: 0;
  font-size: 1.8rem;
}
.project-preview__description {
  padding: 0 0.8rem;
  font-size: 1.4rem;
}
