<div class='area-title'>
  <h1 class='area-title__title' role='text'>
    {{ name }}
    
    {% if title %}
      <br>
      {{ title }}
    {% endif %}
  </h1>

  <p class='area-title__description'>{{ description }}</p>
</div>
