<div class='area-title'>
  <h1 class='area-title__title' role='text'>
    {{ portfolioName }}
    
    {% if title %}
      <span class='area-title__subtitle'>{{ title }}</span>
    {% endif %}
  </h1>

  <p class='area-title__description'>{{ portfolioDescription }}</p>
</div>
