<a href='{{ '/' | relative }}' class='back-button' aria-label='{{ 'go-to-home' | translate: lang }}'>
  <img src='{{ 'arrow.svg' | img }}' alt='{{ 'arrow-icon' | translate: lang }}' width='12' height='18'>
</a>
