<a href='{{ '/' | relative: lang }}' class='back-button' aria-label='{{ 'go-to-home' | translate: lang }}'>
  <img src='{{ 'icons/arrow.svg' | asset }}' alt='{{ 'arrow-icon' | translate: lang }}' width='12' height='18'>
</a>
