<ul class='project-category-and-tags'>
  {% for category in categories %}
    {% if category.name == project.category %}
      <li class='project-category-and-tags__item'>
        {% include components/category, class: 'project-category-and-tags__item', renderAsLink: renderAsLinks %}
      </li>
    {% endif %}
  {% endfor %}

  {% if project.tags.length > 0 %}
    {% for tag in tags %}
      {% for projectTag in project.tags %}
        {% if tag.name == projectTag %}
          {% include components/tag, class: 'project-category-and-tags__item', renderAsLink: renderAsLinks %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</ul>
