---
pagination:
  data: portfolio.categories
  size: 1
  alias: filterCategory
permalink: "/categories/{{ filterCategory.name | slug }}/"
---

<!DOCTYPE HTML>
<html lang='en'>

{% include head, title: filterCategory.name %}

<body>
  <main>
    {% include back-button %}

    {% include area-title, title: filterCategory.name %}

    {% include filters %}

    <div class='area-projects'>
      {% for project in portfolio.projects %}
        {% if project.category == filterCategory.name %}
          {% include project %}
        {% endif %}
      {% endfor %}
    </div>
  </main>

  {% include footer %}
</body>

</html>
