---
pagination:
  data: portfolio.categories
  size: 1
  alias: category
permalink: '/categories/{{ category.name | slug }}/'
---

<!DOCTYPE HTML>
<html lang='en'>

{% include head, title: category.name %}

<body>
  <main>
    {% include back-button %}

    {% include area-title, title: category.name %}

    {% include filters, selected: 'category', filter: category %}

    <div class='area-projects'>
      {% for project in portfolio.projects %}
        {% if project.category == category.name %}
          {% include project %}
        {% endif %}
      {% endfor %}
    </div>
  </main>

  {% include footer %}
</body>

</html>
