<!DOCTYPE HTML>
<html lang='en'>

<head>
    {% include head.html %}
    <title>{{ portfolio.name }} - Portfolio</title>
</head>

<body>
    <main>
        {% include areaTitle.html %}

        {% if portfolio.filters %}
            {% include filters.html %}
        {% endif %}

        <div class='area-projects'>
            {% for project in portfolio.projects %}
                {% include project.html %}
            {% endfor %}
        </div>
    </main>

    {% if portfolio.showFooter %}
        {% include footer.html %}
    {% endif %}
</body>

</html>