<!DOCTYPE HTML>
<html lang='en'>

{% include head %}

<body>
  <main>
    {% include area-title %}

    {% include filters %}

    <div class='projects-area'>
      {% for project in portfolio.projects %}
        {% include project-preview %}
      {% endfor %}

      {% for project in portfolio.projects %}
        {% include project-preview %}
      {% endfor %}
    </div>
  </main>

  {% include footer %}
</body>

</html>
