<!DOCTYPE HTML>
<html lang='en'>

<head>
  {% include head %}
  <title>{{ portfolio.name }} - Portfolio</title>
</head>

<body>
  <main>
    {% include areaTitle %}

    {% if portfolio.filters %}
      {% include filters %}
    {% endif %}

    <div class='area-projects'>
      {% for project in portfolio.projects %}
        {% include project %}
      {% endfor %}
    </div>
  </main>

  {% include footer %}
</body>

</html>
