---
pagination:
  data: portfolio.projects
  size: 1
  alias: project
permalink: '/projects/{{ project.name | slug }}/'
---

<!DOCTYPE HTML>
<html lang='en'>

{% include head, title: project.name %}

<body>
  <main class='project-page'>
    {% include back-button %}

    {% include area-title-project %}

    {% include area-project %}
  </main>

  {% include footer %}
</body>

</html>
