---
pagination:
  data: portfolio.projects
  size: 1
  alias: project
permalink: '/projects/{{ project.name | slug }}/'
---

<!DOCTYPE HTML>
<html lang='en'>

{% include head, title: project.name %}

<body>
  <main class='page-project'>
    {% include back-button %}

    {% include area-title-project %}

    {% include project-content %}
  </main>

  {% include footer %}
</body>

<script>
  document.querySelectorAll('.project-content__images li')
    .forEach(function (li) {
      li.children[0].classList.remove('no-interaction')

      li.addEventListener('click', function() {
        li.requestFullscreen({ navigationUI: 'show' })
      })
    })
</script>

</html>
