---
pagination:
    data: portfolio.tags
    size: 1
    alias: filterTag
permalink: "/tags/{{ filterTag.name | slug }}/"
---

<!DOCTYPE HTML>
<html lang='en'>

<head>
    {% include head.html %}
    <title>{{ portfolio.name }} - Portfolio {{ filterTag.name }}</title>
</head>

<body>
    <main>
        {% include areaTitle.html %}

        {% include tagsFiltering.html %}

        <div class='area-projects'>
            {% for project in portfolio.projects %}
                {% if project.tag == filterTag.name %}
                    {% include project.html %}
                {% endif %}
            {% endfor %}
        </div>
    </main>

    {% if portfolio.showFooter %}
        {% include footer.html %}
    {% endif %}
</body>

</html>