---
pagination:
  data: portfolio.tags
  size: 1
  alias: filterTag
permalink: "/tags/{{ filterTag.name | slug }}/"
---

<!DOCTYPE HTML>
<html lang='en'>

<head>
  {% include head %}
  <title>{{ portfolio.name }} - Portfolio {{ filterTag.name }}</title>
</head>

<body>
  <main>
    {% include back-button %}

    {% include area-title %}

    {% include filters %}

    <div class='area-projects'>
      {% for project in portfolio.projects %}
        {% for tag in project.tags %}
          {% if tag == filterTag.name %}
            {% include project %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </main>

  {% include footer %}
</body>

</html>
